.advantage-icon
  background-color white
  background-position center center
  background-repeat no-repeat
  background-size 80%
  border .1rem solid grey
  border-radius 50%
  display block
  height 3.5rem
  width 3.5rem
  &.-cheap
    background-image url('../images/cheap.png')
    background-size 70%
  &.-stay
    background-image url('../images/stay.png')
    background-size 75%
  &.-mail
    background-image url('../images/mail.png')
    background-size 60%
  &.-anonimity
    background-image url('../images/anonimity.png')
  &.-save
    background-image url('../images/save.png')
    background-size 60%
  &.-confidentiality
    background-image url('../images/confidetiality.png')
    background-size 55%