.autor-bio
  align-content flex-start
  align-items flex-start
  background wild_sand
  border-radius .5rem
  box-shadow 0 .1rem .55rem -.25rem black
  horizontal_centered_flex()
  padding 1rem
  width 100%
  +desktop()
    width 25%