.default-form
  full_centered_flex()
  background curious_blue
  box-shadow 0 .25rem .55rem -.25rem black
  border-radius .5rem
  padding 2rem
  &.-edit
    background-color wild_sand
    margin-top 0
    +desktop()
      width 80%
  &.-post
    +desktop()
      width 80%
  &.-login
    margin-top -10rem
    min-height 20rem
    padding 0