.input-container
  full_centered_flex()
  border none
  margin .25rem .5rem
  width 100%
  > .input
    background white
    border .1rem solid wild_sand
    box-shadow 0 .25rem .55rem -.25rem black
    border-radius .5rem
    color scorpion
    font-family main_font
    font-size 1.25rem
    font-weight normal
    padding .5rem
    &.-fullWidth
      max-width 100%
      min-width 100%
      width 100%
  > .input:nth-child(1)
    margin-right 1rem
  &.-between
    between_centered_flex()
    width 90%
    > .input
      +tablet()
        width 60%
    > .label
      font-size 1.25rem
      +tablet()
        max-width 39%
      > span
        display block
  &.-panel-welcome,
  &.-editor-panel
    justify-content flex-start
  &.-panel-welcome
    margin -.5rem
    width 30%
  &.new-features-container
    margin 0
    padding 0