.limited-container
  full_centered_flex()
  max-width 1200px
  position relative
  width 100%
  &.-between
    between_centered_flex()
  &.-around
    around_centered_flex()
  &.-post
    align-items flex-start
  &.-admin
    padding 1rem .5rem