.line-div
  height .25rem
  margin 1.5rem auto
  width 12.5rem
  &.-golden
    background goldenrod
    box-shadow none
    color goldenrod
  &.-blue
    background curious_blue
    color curious_blue
  &.-white
    background white
    color white
  &.-green
    background mountain_meadow
    color mountain_meadow
  &.-left
    +desktop()
      margin 1.5rem 0
  &.-scorpion
    background-color scorpion
    color scorpion