.markdown-typography {
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%
  line-height 1.5
  color #24292e
  font-family main_font
  font-size 16px
  line-height 1.5
  word-wrap break-word
}

.markdown-typography .pl-c {
  color #6a737d
}

.markdown-typography .pl-c1,
.markdown-typography .pl-s .pl-v {
  color #005cc5
}

.markdown-typography .pl-e,
.markdown-typography .pl-en {
  color #6f42c1
}

.markdown-typography .pl-smi,
.markdown-typography .pl-s .pl-s1 {
  color #24292e
}

.markdown-typography .pl-ent {
  color #22863a
}

.markdown-typography .pl-k {
  color #d73a49
}

.markdown-typography .pl-s,
.markdown-typography .pl-pds,
.markdown-typography .pl-s .pl-pse .pl-s1,
.markdown-typography .pl-sr,
.markdown-typography .pl-sr .pl-cce,
.markdown-typography .pl-sr .pl-sre,
.markdown-typography .pl-sr .pl-sra {
  color #032f62
}

.markdown-typography .pl-v,
.markdown-typography .pl-smw {
  color #e36209
}

.markdown-typography .pl-bu {
  color #b31d28
}

.markdown-typography .pl-ii {
  color #fafbfc
  background-color #b31d28
}

.markdown-typography .pl-c2 {
  color #fafbfc
  background-color #d73a49
}

.markdown-typography .pl-c2before {
  content "^M"
}

.markdown-typography .pl-sr .pl-cce {
  font-weight bold
  color #22863a
}

.markdown-typography .pl-ml {
  color #735c0f
}

.markdown-typography .pl-mh,
.markdown-typography .pl-mh .pl-en,
.markdown-typography .pl-ms {
  font-weight bold
  color #005cc5
}

.markdown-typography .pl-mi {
  font-style italic
  color #24292e
}

.markdown-typography .pl-mb {
  font-weight bold
  color #24292e
}

.markdown-typography .pl-md {
  color #b31d28
  background-color #ffeef0
}

.markdown-typography .pl-mi1 {
  color #22863a
  background-color #f0fff4
}

.markdown-typography .pl-mc {
  color #e36209
  background-color #ffebda
}

.markdown-typography .pl-mi2 {
  color #f6f8fa
  background-color #005cc5
}

.markdown-typography .pl-mdr {
  font-weight bold
  color #6f42c1
}

.markdown-typography .pl-ba {
  color #586069
}

.markdown-typography .pl-sg {
  color #959da5
}

.markdown-typography .pl-corl {
  text-decoration underline
  color #032f62
}

.markdown-typography .octicon {
  display inline-block
  vertical-align text-top
  fill currentColor
}

.markdown-typography a {
  background-color transparent
}

.markdown-typography aactive,
.markdown-typography ahover {
  outline-width 0
}

.markdown-typography strong {
  font-weight inherit
}

.markdown-typography strong {
  font-weight bolder
}

.markdown-typography h1 {
  font-size 2em
  margin 0.67em 0
}

.markdown-typography img {
  border-style none
}

.markdown-typography code,
.markdown-typography kbd,
.markdown-typography pre {
  font-family main_font
  font-size 1em
}

.markdown-typography hr {
  box-sizing content-box
  height 0
  overflow visible
}

.markdown-typography input {
  font inherit
  margin 0
}

.markdown-typography input {
  overflow visible
}

.markdown-typography [type="checkbox"] {
  box-sizing border-box
  padding 0
}

.markdown-typography * {
  box-sizing border-box
}

.markdown-typography input {
  font-family inherit
  font-size inherit
  line-height inherit
}

.markdown-typography a {
  color #0366d6
  text-decoration none
}

.markdown-typography ahover {
  text-decoration underline
}

.markdown-typography strong {
  font-weight 600
}

.markdown-typography hr {
  height 0
  margin 15px 0
  overflow hidden
  background transparent
  border 0
  border-bottom 1px solid #dfe2e5
}

.markdown-typography hrbefore {
  display table
  content ""
}

.markdown-typography hrafter {
  display table
  clear both
  content ""
}

.markdown-typography table {
  border-spacing 0
  border-collapse collapse
}

.markdown-typography td,
.markdown-typography th {
  padding 0
}

.markdown-typography h1,
.markdown-typography h2,
.markdown-typography h3,
.markdown-typography h4,
.markdown-typography h5,
.markdown-typography h6 {
  margin-top 0
  margin-bottom 0
}

.markdown-typography h1 {
  font-size 32px
  font-weight 600
}

.markdown-typography h2 {
  font-size 24px
  font-weight 600
}

.markdown-typography h3 {
  font-size 20px
  font-weight 600
}

.markdown-typography h4 {
  font-size 16px
  font-weight 600
}

.markdown-typography h5 {
  font-size 14px
  font-weight 600
}

.markdown-typography h6 {
  font-size 12px
  font-weight 600
}

.markdown-typography p {
  margin-top 0
  margin-bottom 10px
}

.markdown-typography blockquote {
  margin 0
}

.markdown-typography ul,
.markdown-typography ol {
  padding-left 0
  margin-top 0
  margin-bottom 0
}

.markdown-typography ol ol,
.markdown-typography ul ol {
  list-style-type lower-roman
}

.markdown-typography ul ul ol,
.markdown-typography ul ol ol,
.markdown-typography ol ul ol,
.markdown-typography ol ol ol {
  list-style-type lower-alpha
}

.markdown-typography dd {
  margin-left 0
}

.markdown-typography code {
  font-family "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace
  font-size 12px
}

.markdown-typography pre {
  margin-top 0
  margin-bottom 0
  font-family "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace
  font-size 12px
}

.markdown-typography .octicon {
  vertical-align text-bottom
}

.markdown-typography .pl-0 {
  padding-left 0 !important
}

.markdown-typography .pl-1 {
  padding-left 4px !important
}

.markdown-typography .pl-2 {
  padding-left 8px !important
}

.markdown-typography .pl-3 {
  padding-left 16px !important
}

.markdown-typography .pl-4 {
  padding-left 24px !important
}

.markdown-typography .pl-5 {
  padding-left 32px !important
}

.markdown-typography .pl-6 {
  padding-left 40px !important
}

.markdown-typographybefore {
  display table
  content ""
}

.markdown-typographyafter {
  display table
  clear both
  content ""
}

.markdown-typography>*first-child {
  margin-top 0 !important
}

.markdown-typography>*last-child {
  margin-bottom 0 !important
}

.markdown-typography anot([href]) {
  color inherit
  text-decoration none
}

.markdown-typography .anchor {
  float left
  padding-right 4px
  margin-left -20px
  line-height 1
}

.markdown-typography .anchorfocus {
  outline none
}

.markdown-typography p,
.markdown-typography blockquote,
.markdown-typography ul,
.markdown-typography ol,
.markdown-typography dl,
.markdown-typography table,
.markdown-typography pre {
  margin-top 0
  margin-bottom 16px
}

.markdown-typography hr {
  height 0.25em
  padding 0
  margin 24px 0
  background-color #e1e4e8
  border 0
}

.markdown-typography blockquote {
  padding 0 1em
  color #6a737d
  border-left 0.25em solid #dfe2e5
}

.markdown-typography blockquote>first-child {
  margin-top 0
}

.markdown-typography blockquote>last-child {
  margin-bottom 0
}

.markdown-typography kbd {
  display inline-block
  padding 3px 5px
  font-size 11px
  line-height 10px
  color #444d56
  vertical-align middle
  background-color #fafbfc
  border solid 1px #c6cbd1
  border-bottom-color #959da5
  border-radius 3px
  box-shadow inset 0 -1px 0 #959da5
}

.markdown-typography h1,
.markdown-typography h2,
.markdown-typography h3,
.markdown-typography h4,
.markdown-typography h5,
.markdown-typography h6 {
  margin-top 24px
  margin-bottom 16px
  font-weight 600
  line-height 1.25
}

.markdown-typography h1 .octicon-link,
.markdown-typography h2 .octicon-link,
.markdown-typography h3 .octicon-link,
.markdown-typography h4 .octicon-link,
.markdown-typography h5 .octicon-link,
.markdown-typography h6 .octicon-link {
  color #1b1f23
  vertical-align middle
  visibility hidden
}

.markdown-typography h1hover .anchor,
.markdown-typography h2hover .anchor,
.markdown-typography h3hover .anchor,
.markdown-typography h4hover .anchor,
.markdown-typography h5hover .anchor,
.markdown-typography h6hover .anchor {
  text-decoration none
}

.markdown-typography h1hover .anchor .octicon-link,
.markdown-typography h2hover .anchor .octicon-link,
.markdown-typography h3hover .anchor .octicon-link,
.markdown-typography h4hover .anchor .octicon-link,
.markdown-typography h5hover .anchor .octicon-link,
.markdown-typography h6hover .anchor .octicon-link {
  visibility visible
}

.markdown-typography h1 {
  padding-bottom 0.3em
  font-size 2em
  border-bottom 1px solid #eaecef
}

.markdown-typography h2 {
  padding-bottom 0.3em
  font-size 1.5em
  border-bottom 1px solid #eaecef
}

.markdown-typography h3 {
  font-size 1.25em
}

.markdown-typography h4 {
  font-size 1em
}

.markdown-typography h5 {
  font-size 0.875em
}

.markdown-typography h6 {
  font-size 0.85em
  color #6a737d
}

.markdown-typography ul,
.markdown-typography ol {
  padding-left 2em
}

.markdown-typography ul ul,
.markdown-typography ul ol,
.markdown-typography ol ol,
.markdown-typography ol ul {
  margin-top 0
  margin-bottom 0
}

.markdown-typography li {
  word-wrap break-all
}

.markdown-typography li>p {
  margin-top 16px
}

.markdown-typography li+li {
  margin-top 0.25em
}

.markdown-typography dl {
  padding 0
}

.markdown-typography dl dt {
  padding 0
  margin-top 16px
  font-size 1em
  font-style italic
  font-weight 600
}

.markdown-typography dl dd {
  padding 0 16px
  margin-bottom 16px
}

.markdown-typography table {
  display block
  width 100%
  overflow auto
}

.markdown-typography table th {
  font-weight 600
}

.markdown-typography table th,
.markdown-typography table td {
  padding 6px 13px
  border 1px solid #dfe2e5
}

.markdown-typography table tr {
  background-color #fff
  border-top 1px solid #c6cbd1
}

.markdown-typography table trnth-child(2n) {
  background-color #f6f8fa
}

.markdown-typography img {
  max-width 100%
  box-sizing content-box
  background-color #fff
}

.markdown-typography img[align=right] {
  padding-left 20px
}

.markdown-typography img[align=left] {
  padding-right 20px
}

.markdown-typography code {
  padding 0.2em 0.4em
  margin 0
  font-size 85%
  background-color rgba(27,31,35,0.05)
  border-radius 3px
}

.markdown-typography pre {
  word-wrap normal
}

.markdown-typography pre>code {
  padding 0
  margin 0
  font-size 100%
  word-break normal
  white-space pre
  background transparent
  border 0
}

.markdown-typography .highlight {
  margin-bottom 16px
}

.markdown-typography .highlight pre {
  margin-bottom 0
  word-break normal
}

.markdown-typography .highlight pre,
.markdown-typography pre {
  padding 16px
  overflow auto
  font-size 85%
  line-height 1.45
  background-color #f6f8fa
  border-radius 3px
}

.markdown-typography pre code {
  display inline
  max-width auto
  padding 0
  margin 0
  overflow visible
  line-height inherit
  word-wrap normal
  background-color transparent
  border 0
}

.markdown-typography .full-commit .btn-outlinenot(disabled)hover {
  color #005cc5
  border-color #005cc5
}

.markdown-typography kbd {
  display inline-block
  padding 3px 5px
  font-size 11px
  line-height 10px
  color #444d56
  vertical-align middle
  background-color #fafbfc
  border solid 1px #d1d5da
  border-bottom-color #c6cbd1
  border-radius 3px
  box-shadow inset 0 -1px 0 #c6cbd1
}

.markdown-typography checked+.radio-label {
  position relative
  z-index 1
  border-color #0366d6
}

.markdown-typography .task-list-item {
  list-style-type none
}

.markdown-typography .task-list-item+.task-list-item {
  margin-top 3px
}

.markdown-typography .task-list-item input {
  margin 0 0.2em 0.25em -1.6em
  vertical-align middle
}

.markdown-typography hr {
  border-bottom-color #eee
}

.markdown-typography
  p
    @extend .default-text
  p > em
    font-style italic
  h2,
  h3,
  h4,
  h5
    font-family main_font
    font-size 1.75rem
    font-weight normal
    color darken(goldenrod, 35%)
