.post-image-media
  full_centered_flex()
  background goldenrod
  box-shadow 0 .2rem .2rem -.2rem black
  position relative
  width 100%
  +desktop()
    height 15rem
  > .image
    height 100%
    width 100%