.post-avatar
  full_centered_flex()
  fast_transition()
  background froly
  border .2rem solid froly
  border-radius 50%
  box-shadow 0 .2rem .2rem -.2rem black
  color white
  font-family main_font
  font-size 2rem
  font-weight bold
  height 4.5rem
  margin 0 .5rem 0 0
  overflow hidden
  position unset
  text-shadow -0.05rem 0.05rem 0.15rem scorpion
  width 4.5rem
  &.-next-prev
    border .2rem solid goldenrod
    background-color goldenrod
    height 3.5rem
    width 3.5rem