.post-social-media
  background-color goldenrod
  full_centered_flex()
  height 100%
  left 0
  max-height 100%
  opacity 0
  position absolute
  fast_transition()
  top 0
  width 100%
  > .icon
    border-radius 50%
    box-shadow none
    display block
    height 3.5rem
    margin 0 1rem
    position relative
    fast_transition()
    width 3.5rem
    &:hover
      box-shadow 0 .2rem .2rem -.2rem black
      transform translateY(-.25rem)