.section-bg
  background url('../images/bg-banner.png') fixed no-repeat top/cover
  filter grayscale('50%')
  height 100%
  left 0
  mix-blend-mode multiply
  position absolute
  top 0
  width 100%
  z-index 0
  &.-contact
    background url('../images/online_doctor.jpg') fixed no-repeat top/cover
  &.-blog
    background url('../images/pacient.jpg') no-repeat top/cover
