.service-list
  list-style none
  margin-top 1.5rem
  +desktop()
    horizontal_centered_flex()
  > .item
    horizontal_centered_flex()
    margin-bottom 1rem
    margin-left .5%
    margin-right .5%
    padding 1rem
    width 95%
    +desktop()
      max-width 46%
    > .description
      width 100%
      +mobile_sm()
        width 90%