.social-media
  full_centered_flex()
  background-color curious_blue
  border-radius 0 1rem 1rem 0
  height 60%
  left -5rem
  margin auto
  position fixed
  fast_transition()
  width 4rem
  z-index 10
  +desktop()
    left 0
    position absolute
    z-index 0
  > .icon
    full_centered_flex()
    background darken(goldenrod, 25%)
    border .15rem solid white
    border-radius 50%
    box-shadow none
    color white
    font-size 2rem
    font-weight bold
    height 3.5rem
    margin-bottom 2rem
    position relative
    fast_transition()
    width 3.5rem
    > .fa, .fas
      font-family 'fontAwesome'
    &:nth-child(1)
      margin-top: 2rem
    &:hover
      background darken(goldenrod, 40%);
      box-shadow 0 .2rem .2rem -.2rem black
      transform translateY(-.25rem)