.user-data
  align-content flex-start
  align-items flex-start
  background wild_sand
  box-shadow 0 .1rem .55rem -.25rem black
  horizontal_centered_flex()
  margin-top 3.1rem
  padding 1rem
  width 100%
  +desktop()
    min-height calc(100vh - 103px - 5.1rem)
    width 25%