.user-draw
  full_centered_flex()
  background goldenrod
  border-radius 50%
  box-shadow 0 .25rem .55rem -.25rem black
  height 5rem
  width 5rem
  > .head
    background-color white
    border-radius 50%
    box-shadow 0 .25rem .55rem -.25rem black
    height 2.25rem
    width 2.25rem
  > .body
    background-color white
    border-radius 10rem
    box-shadow 0 .25rem .55rem -.25rem black
    margin-top -.1rem
    height 2rem
    width 3.25rem