*
  box-sizing border-box

body,
section,
header,
article,
div,
fieldset,
hr,
p,
h1,
h2,
h3,
h4,
h5,
label,
input,
button,
a,
nav,
video,
img,
figure,
footer,
ul,
ol,
aside,
textarea
  margin 0
  max-width 100%
  padding 0

body
  horizontal_centered_flex()
  min-height 100vh

a
  color scorpion
  text-decoration none

.hidden
  display none

.icon-media > .fa,
.icon-media > .fas {
  font-family 'FontAwesome' !important;
}
